.header-box{
    height: 50px;
    background: #1C1B20 ;
    color: #fff;
    font-size: 16px;
    display: flex;
}
.location-box{
    width:8.42rem;
    overflow: hidden;
    line-height: 50px;
}
.search-box{
    flex:1;
    height: 30px;
    border-radius:15px ;
    background: #fff;
    margin-top:10px;
    margin-right: 10px;
}
.search-box .icon-sousuo{
    color: #1C1B20;
    float: left;
    margin: 8px 0 0 10px;
    
}
.search-box input{
    float: left;
    width: 8.8rem;
}